{% extends 'dashboard/admin_base.html'%}
{% load static %}
{% block content %}
<div class="topbar">
    <div class="topbar-left"><h1>Edit Profile</h1><p>আপনার তথ্য আপডেট করুন</p></div>
    <div class="topbar-right">
         <a class="btn btn-red" href="{% url 'dashboard:student_list'%}" >Student List</a>
    </div>
  </div>
  {% if form.errors %}
    <div class="alert alert-error">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
    <div class="page-body">
        <div class="card">
            <div class="card-head" style="display:flex;justify-content:space-between;align-items:center;">
                <span class="card-title">Edit Profile</span>
            </div>

            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group">
                        <label class="form-label">Photo<span class="form-required">*</span></label>
                        {{ profile_form.profile_image }}
                    </div>
                    <div class="form-group">
                        {% if profile.profile_image %}
                            <div style="margin-bottom:10px;">
                                <img id="previewImage"
                                    src="{{  profile.profile_image.url }}"
                                    style="width:100px;height:100px;border-radius:8px;object-fit:cover;">
                            </div>
                        {% else %}
                            <img id="previewImage"
                                style="display:none;width:100px;height:100px;border-radius:8px;">
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label class="form-label">Signature<span class="form-required">*</span></label>
                        {{ profile_form.sign_image }}
                    </div>
                    <div class="form-group">
                        {% if profile.sign_image %}
                            <div style="margin-bottom:10px;">
                                <img id="previewSign"
                                    src="{{  profile.sign_image.url }}"
                                    style="width:100px;height:100px;border-radius:8px;object-fit:cover;">
                            </div>
                        {% else %}
                            <img id="previewSign"
                                style="display:none;width:100px;height:100px;border-radius:8px;">
                        {% endif %}
                    </div>
                </div>       
                {% if institution_form %}
                    <div class="form-row">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            {{ institution_form.name }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Director</label>
                            {{ institution_form.director }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            {{ institution_form.email }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Mobile</label>
                            {{ institution_form.mobile }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label class="form-label">District</label>
                            {{ institution_form.district }}
                        </div>
                        <div class="form-group">
                            <label class="form-label">Upazila</label>
                            {{ institution_form.upazila }}
                        </div>
                    </div>
                    <div class="form-row">
                    <div class="form-group form-full"">
                        <label class="form-label">Address</label>
                        {{ institution_form.address }}
                    </div>
                </div>
                {% endif %}
             <div class="modal-foot text-center">
                <button type="button" class="btn btn-white" onclick="location.reload()">Reset</button>
                <button type="submit" class="btn btn-red">✓ Edit Profile</button>
            </div>
        </form>
        </div>
    </div>
<script>
document.addEventListener("DOMContentLoaded", function () {
    // document.querySelector('input[type="file"]').addEventListener('change', function(e){
    //     const file = e.target.files[0];
    //     const preview = document.getElementById('preview');

    //     if(file){
    //         preview.src = URL.createObjectURL(file);
    //         preview.style.display = 'block';
    //     }
    // });
    function previewFile(inputId, previewId) {
        document.getElementById(inputId).addEventListener('change', function(e) {

            const file = e.target.files[0];
            const preview = document.getElementById(previewId);

            if (file) {
                preview.src = URL.createObjectURL(file);
                preview.style.display = 'block';
            }
        });
    }

    previewFile('profileImageInput', 'previewImage');
    previewFile('signImageInput', 'previewSign');
});
</script>
{% endblock%}