{% extends 'dashboard/admin_base.html' %}
{% block content %}
<div class="topbar">
    <div class="topbar-left"><h1>Change Password Successfull</h1><p>আপনার পাসওয়ার্ড সফলভাবে পরিবর্তন করা হয়েছে</p></div>
    <div class="topbar-right">
         <a class="btn btn-red" href="{% url 'dashboard:student_list'%}" >P List</a>
    </div>
  </div>

 <div class="page-body">
    <div class="card" style="max-width:500px;margin:auto;text-align:center;padding: 2rem;">
        <h2>✅ Password Updated</h2>
        <p>Your password has been changed successfully.</p>

        <a href="{% url 'accounts:profile_view' %}" class="btn btn-red">
            Back to Profile
        </a>

    </div>
</div>

{% endblock %}