{% extends 'base/guest.html' %} {% load static%} {% block main%}
<style>
    input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 8px;
    outline: none;
}

input[type="password"]:focus {
    border-color: var(--bd-red);
}
</style>
<div class="login-wrap">
    <div class="login-box">
        <div class="card" style="max-width:500px;margin:auto;">
            <form method="POST">
                {% csrf_token %}

                <label>New Password</label>
                {{ form.new_password1 }}

                <label>Confirm Password</label>
                {{ form.new_password2 }}

                <button class="btn btn-red" style="width:100%;margin-top:10px;">
                    Update Password
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}