{% extends 'dashboard/admin_base.html' %}
{% load static %}

{% block content %}
<style>
    input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 8px;
    outline: none;
}

input[type="password"]:focus {
    border-color: var(--bd-red);
}
</style>
<div class="topbar">
    <div class="topbar-left">
        <h1>Change Password</h1>
        <p>আপনার পাসওয়ার্ড পরিবর্তন করুন</p>
    </div>
</div>

<div class="page-body">

    <div class="card" style="max-width:500px;margin:auto;">

        <div class="card-head">
            <span class="card-title">🔐 Security Settings</span>
        </div>

        <div class="modal-body">

            {% if form.errors %}
                <div class="alert alert-error">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                    
                <div class="form-row">
                    <div class="form-group form-full">
                        <label class="form-label">Current Password</label>
                        {{ form.old_password }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form-full">
                        <label class="form-label">New Password</label>
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form-full">
                        <label class="form-label">Confirm Password</label>
                        {{ form.new_password2 }}
                    </div>
                </div>
                <div class="modal-foot text-center">
                    <button type="submit" class="btn btn-red">🔄 Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}